Source: bad-apples
Maintainer: Damian Akpan <damianakpan2001@gmail.com>
Build-Depends: debhelper,dh-python,python3-all,python3-setuptools
Section: utils
Priority: optional
Standards-Version: 3.9.6
X-Python3-Version: >= 3.6

Package: bad-apples
Architecture: any
Description: periodically kill unwanted processes
Depends: ${python3:Depends},python3-requests
